/*************** Tag Section ***************/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*************** Class Section ***************/

.dark-section {
    background-color: #292b2c;
    color: #f5f5f5;
    padding: 5% 10%;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.white-section {
    padding: 5% 10%;
    background-color: #f5f5f5;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.profile-picture {
    margin: 3% 15%;
    border-radius: 5%;
    width: 50%;
}

.work-title {
    width: 30%;
}

.light-text {
    color: #f5f5f5;
}

.footer-icon {
    margin: 2%;
    text-align:center;
}

.black-card {
    background-color: #292b2c;
    border-color: #565656;
}

.card {
    margin: .5%;
}

.recipe {
    width: 60%;
    margin: 0 auto;
}

.recipe-a {
    font-size: 1.2em;
}

.recipe-a:hover {
    font-size: 1.4em;
    color: red;
}

/*************** Print Section ***************/

@media print {
    nav {
        display: none;
    }

    footer {
        display: none;
    }

    #recipe-link {
        display: none;
    }

    header {
        display: none;
    }

    .dark-section {
        width: 100%;
        color: black;
        background-color: white;
    }

    .recipe {
        width: 100%;
    }
}