@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@********** Summary **********@

<section class="dark-section">
    <div class="row">
        <div class="col-lg-4">
            <img class="profile-picture" src="~/images/profile.jpg" />
        </div>
        <div class="col-lg-6">
            <h1 class="mb-3">Daniel Wernz</h1>
            <a href="~/files/Daniel_Wernz_Nov_2022_Resume.docx" download="Daniel_Wernz_Nov_2022_Resume.docx"
                class="btn btn-primary mb-3">Resume</a>
            <p>
                <i>
                    Student at
                    <a href="https://www.kotechacademy.com" target="=_blank">
                        <strong>KO Tech Academy</strong>
                    </a>
                </i>
            </p>
            <p>
                <i>
                    B.A.S. Graduate at
                    <a href="https://www.easternflorida.edu" target="=_blank">
                        <strong>Eastern Florida State College</strong>
                    </a>
                </i>
            </p>
            <p>
                <i>
                    Founder and Former Student President of the
                    <a href="https://www.nsls.org" target="=_blank">
                        <strong>National Society of Leadership and Success, EFSC Chapter</strong>
                    </a>
                </i>
            </p>
            <p>
                <i>
                    Southeast Regional Student Chef of the Year 2017 at at
                    <a href="https://www.acfchefs.org" target="=_blank">
                        <strong>American Culinary Federation</strong>
                    </a>
                </i>
            </p>
            <p>
                <i>
                    Jean E. Clary Scholarship Award from
                    <a href="https://www.hgtchefs.com/" target="=_blank">
                        <strong>Honorable Order of the Golden Toque</strong>
                    </a>
                </i>
            </p>
            <br />
            <p>
                I am currently seeking an entry-level or internship software developer position.
                I graduated from Eastern Florida State College (EFSC) with a B.A.S. in Computer
                Information Systems Technology with a specialization in Computer Programming in
                December 2021, and an A.S. in Computer Programming and Analysis in December of
                2020. I am currently a student with KO Tech Academy, learning the essentials of
                Software Development.
                <br /><br />
                My most recent experience at LHH, I was awarded the Culture Champion Award for
                my dedication to LHH's four core principals, assisting coworkers in need, and
                making each day enjoyable to not only our candidates and clients, but also
                coworkers.
                <br /><br />
                During my time at EFSC, I founded the National Society of Leadership and Success
                (NSLS) EFSC chapter, and remained the Student President for two years, growing
                the chapter to over 1000 members. Along with serving as the Secetary of the
                Robotics Club, and President of the Tech Club.
                <br /><br />
                I have worked in numerous kitchens such as Mythos in Universal's Island of
                Adventure in Florida, helped open and establish Kohola Reef in Universal's
                Volcano Bay (and other venues as needed), The Greenbrier's Main Dining Room,
                Sam Sneed's, and The Depot, and Chef Raymond Pitz's Le Coq au Vin. Some of
                my personal recipes have been used at The Greenbrier's Main Dining Room's
                menu. At Kohola Reef, I was one of six employees selected from
                Universal's existing full service establishments to help open Volcano Bay,
                training new employees, adjust standards and procedures, and other tasks to
                ensure the successful launch of the newest park.
                <br /><br />
                I have completed several culinary competitions including The Chaine de
                Rotisseurs' Jeune Chef Mystery Basket Competition, ACF's Culianry Cup,
                ACF's Southeast Regional Student Chef of the Year, and ACF's National Student
                Chef of the Year.
                <br />
                With the Student Chef of the Year title, there are four regions in the United
                States, with each region only able to nominate up to four contestants. The
                National title includes a contestant from the US Military.
                <br /><br />
                At Le Cordon Bleu, I was the Lead Tutor to assist students with practical cooking
                skills and academics. Avid volunteer, helping out whenever I could with events
                such as the Bleu Ribbon Kitchen program that guests could learn to cook various
                dishes based on that week's theme. Some themes were French, Italian, Spanish,
                pies, and even a Burnt inspired menu. I served as the Student Advisory
                Commitee's Student President for a year, and the only student worker
                cross-trained for each department. Due to my passion and involvement with the
                college, when the lead staff was asked to choose two nominees for the Jean E.
                Clary scholarship award from the Honorable Order of the Golden Toque, I was
                immediately considered, the other was my wife.
            </p>
        </div>
    </div>
</section>

@********** Education **********@

<section class="white-section text-center">
    <h3 class="mb-5">Education</h3>
    <div class="row justify-content-center">
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">B.A.S. Computer Information Systems Technology</h5>
                <hr />
                <p class="card-text">
                    Eastern Florida State College
                    <hr />
                    January 2021 to December 2021
                    <hr />
                    GPA: 3.9
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">A.S. Computer Programming and Anaylsis</h5>
                <hr />
                <p class="card-text">
                    Eastern Florida State College
                    <hr />
                    January 2020 to December 2020
                    <hr />
                    GPA: 4.0
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">A.A. General Education</h5>
                <hr />
                <p class="card-text">
                    Eastern Florida State College
                    <hr />
                    January 2021 to December 2021
                    <hr />
                    GPA: 3.9
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">A.S. Culinary Arts</h5>
                <hr />
                <p class="card-text">
                    Le Cordon Bleu College of Culinary Arts Orlando
                    <hr />
                    July 2015 to March 2017
                    <hr />
                    GPA: 4.0
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    Udemy: Dr. Angela Yu's The Complete 2021 Web Development Bootcamp
                    <hr />
                    February 2021 to March 2021
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: Fundamentals of HTML5 and CSS3
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: Introduction to Python
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: Java Programming
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: JavaScript Essentials
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: Microsoft 70-480: Programming in HTML5 with JavaScript and CSS3
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Certificate of Completion</h5>
                <hr />
                <p class="card-text">
                    KO Tech Academy: Microsoft ASP.NET MVC
                    <hr />
                    November 2022 to December 2022
                </p>
            </div>
        </div>
    </div>
</section>

@********** Work Experience **********@

<section class="dark-section">
    <h3 class="mb-5 light-text text-center">Work Experience</h3>
    <table class="table light-text">
        <thead>
            <tr>
                <th>Work</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="work-title">
                    <p><a href="https://www.Dayo.com" target="_blank">Dayo Scuba</a></p>
                    <p>Winter Park, FL</p>
                    <p>Divemaster Candidate</p>
                    <p>January 2022 to Present</p>
                </td>
                <td>
                    <ul>
                        <li>
                            Assists with Dive Shop operations as needed. Tasks include filling scuba cylinders with 
                            desired gas mixtures with oxygen and helium, assisting customers with merchandise or information, 
                            and visual inspection of scuba cylinders.
                        </li>
                        <li>
                            Aids Dive Instructors with recreational diving certification classes.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="work-title">
                    <p><a href="https://www.LHH.com" target="_blank">LHH Recruitment Solutions</a></p>
                    <p>Remote</p>
                    <p>Executive Recruiter</p>
                    <p>March 2022 to November 2022</p>
                </td>
                <td>
                    <ul>
                        <li>
                            Responsible for full-cycke recruiting, including sourcing, interviewing,
                            qualifying, and placement of a full range of IT and Non-IT candidates for
                            contract, contract-to-hire, and direct hire positions.
                        </li>
                        <li>Defining job descriptions, reviewing, and improving resumes.</li>
                        <li>
                            Collaborations with hiring managers to understand their hiring needs and
                            goals.
                        </li>
                        <li>
                            Leverage multiple sourcing strategies and channels including external
                            networks, job boards, and internal referraks to provide high-quality
                            candidates for open positions.
                        </li>
                        <li>
                            Responsible for the preliminary candidate screening and communicating with
                            all candidates on a regular basis and arranging and conducting interviews.
                        </li>
                        <li>
                            Screening resumes, interviewing qualified candidates, evaulating skill level,
                            managing offer process, reference checks, and making salary recommendations.
                        </li>
                        <li>
                            Engaged in creating and preparing work orders, vendor contracts, offer letters,
                            experience letters, and relieving letters.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="work-title">
                    <p><a href="https://www.Greenbrier.com" target="_blank">The Greenbrier Resort</a></p>
                    <p>White Sulphur Springs, WV</p>
                    <p>Junior Chef Apprentice</p>
                    <p>November 2017 to September 2019</p>
                </td>
                <td>
                    <ul>
                        <li>
                            Responsible as Junior Apprentice to assist in mentoring line cooks through 20
                            food and beverage outlets and assisting leadership with disciplinary actions if
                            necessary.
                        </li>
                        <li>
                            Brought forth new ideas identifying different key elements of menu creation with
                            leadership in the Main Dining Room, serving 250 people a night on average.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="work-title">
                    <p><a href="https://www.universalorlando.com/" target="_blank">Mythos</a></p>
                    <p>Orlando, FL</p>
                    <p>Line Production Cook</p>
                    <p>November 2016 to September 2017</p>
                </td>
                <td>
                    <ul>
                        <li>
                            Assisted leadership in maintaining standards in food preparation, serving
                            800-1200 guests daily.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="work-title">
                    <p><a href="https://www.universalorlando.com/" target="_blank">Kohola Reef Cabana</a></p>
                    <p>Orlando, FL</p>
                    <p>Second Cook</p>
                    <p>May 2017 to June 2017</p>
                </td>
                <td>
                    <ul>
                        <li>
                            Worked with executive management with menu updates, food photographs, kitchen
                            layout, and other tasks to ensure the successful opening of all food establishment
                            venues in the Volcano Bay Theme Park.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>

@********** Skills **********@
<section class="white-section text-center">
    <h3 class="mb-5">Technologies</h3>
    <div class="row justify-content-center">
        <div class="col-3">
            <h4>HTML</h4>
        </div>
        <div class="col-3">
            <h4>CSS</h4>
        </div>
        <div class="col-3">
            <h4>JavaScript</h4>
        </div>
        <div class="col-3">
            <h4>.NET 6</h4>
        </div>
        <div class="col-3">
            <h4>ASP.NET</h4>
        </div>
        <div class="col-3">
            <h4>MVC Framework</h4>
        </div>
        <div class="col-3">
            <h4>C#</h4>
        </div>
        <div class="col-3">
            <h4>C++</h4>
        </div>
        <div class="col-3">
            <h4>Arduino</h4>
        </div>
        <div class="col-3">
            <h4>Raspberry Pi</h4>
        </div>
        <div class="col-3">
            <h4>Java</h4>
        </div>
        <div class="col-3">
            <h4>Kotlin</h4>
        </div>
        <div class="col-3">
            <h4>SQL</h4>
        </div>
        <div class="col-3">
            <h4>PHP</h4>
        </div>
        <div class="col-3">
            <h4>Bootstrap</h4>
        </div>
        <div class="col-3">
            <h4>jQuery</h4>
        </div>
    </div>
</section>

@********** Hobbies **********@
<section class="dark-section text-center">
    <h3 class="mb-5">Hobbies</h3>
    <div class="row justify-content-center">
        <div class="col-4">
            <h4>Scuba Diving</h4>
        </div>
        <div class="col-4">
            <h4>Reading</h4>
        </div>
        <div class="col-4">
            <h4>Crochet</h4>
        </div>
        <div class="col-4">
            <h4>Video Games</h4>
        </div>
        <div class="col-4">
            <h4>Photography</h4>
        </div>
        <div class="col-4">
            <h4>Raspberry Pi/Ardunio</h4>
        </div>
        <div class="col-4">
            <h4>3D Printing</h4>
        </div>
    </div>
</section>

@********** Scuba Diving Certifications **********@
<section class="white-section text-center">
    <h3 class="mb-5">Scuba Diving Certifications</h3>
    <div class="row justify-content-center">
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Open Water Scuba Diver</h5>
                <hr />
                <p class="card-text">
                    Scuba Diving International
                    <hr />
                    June 2021
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Nitrox Diver</h5>
                <hr />
                <p class="card-text">
                    Technical Diving International
                    <hr />
                    July 2021
                    <hr />
                    Qualified in the use of 22% to 40% nitrox to a maximum depth of 130 fsw.
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Advanced Adventure Diver</h5>
                <hr />
                <p class="card-text">
                    Scuba Diving International
                    <hr />
                    September 2021
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Adult and Child Emergency Care</h5>
                <hr />
                <p class="card-text">
                    First Response Training International
                    <hr />
                    June 2021
                    <hr />
                    The bearer of this card has been training in CRP, AED, and first aid administration for adults, infants, and children.
                    Certification expires two years from the date of certification.
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Oxygen Administration</h5>
                <hr />
                <p class="card-text">
                    First Response Training International
                    <hr />
                    December 2021
                    <hr />
                    The bearer of this card has been training to administer emergency Oxygen to a breathing or non-breating person.
                    Certication expires two years from the date of certification.
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Rescue Diver</h5>
                <hr />
                <p class="card-text">
                    Scuba Diving International
                    <hr />
                    December 2021
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Intro to Tech</h5>
                <hr />
                <p class="card-text">
                    Technical Diving International
                    <hr />
                    December 2021
                    <hr />
                    This diver has been taight the Equipment and Skills used to plan and execute dives using techniques associated with
                    technical diving.
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Advanced Nitrox Diver</h5>
                <hr />
                <p class="card-text">
                    Technical Diving International
                    <hr />
                    May 2022
                    <hr />
                    Qualified in the use of 22% to 100% oxygen.
                </p>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                <h5 class="card-title">Helitrox Diver</h5>
                <hr />
                <p class="card-text">
                    Technical Diving International
                    <hr />
                    May 2022
                    <hr />
                    Certified to utilize Nitrox and Helium mixes with no greater than 35% Helium, and up to 100% Oxygen for decompression
                    diving to a maximum depth of 150ft.
                </p>
            </div>
        </div>
    </div>
</section>