@page
@model CV.Pages.PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<section class="dark-section">
    <h1 class="light-text text-center mb-5">Portfolio</h1>
    <div class="row justify-content-center">
        <div class="card black-card col-lg-5">
            <div class="card-body">
                <h5 class="card-title text-center">Fundamentals of HTML5 and CSS3</h5>
                <hr />
                <p class="card-text">
                    <a href="https://dwernz.github.io/HTML5-and-CSS3-Fundamentals/" target="_blank">
                        https://dwernz.github.io/HTML5-and-CSS3-Fundamentals/
                    </a>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            This is a website that shows all the webpages created from KO Tech Academy's
                            Fundamentals of HTML5 and CSS3 course. It is a bit on the plain side due to
                            this site being a list to showcase the webpages, and a brief summary of each
                            topic.
                        </li>
                        <li>
                            Technologies used: HTML, CSS, JavaScript, jQuery
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card black-card col-lg-5">
            <div class="card-body">
                <h5 class="card-title text-center">JavaScript Essentials</h5>
                <hr />
                <p class="card-text">
                    <a href="https://dwernz.github.io/JavaScript-Essentials/" target="_blank">
                        https://dwernz.github.io/JavaScript-Essentials/
                    </a>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            This is a website that shows all the webpages created from KO Tech Academy's
                            JavaScript Essentials course. It is a bit on the plain side due to
                            this site being a list to showcase the webpages, and a brief summary of each
                            topic.
                        </li>
                        <li>
                            Technologies used: HTML, CSS, JavaScript, jQuery
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card black-card col-lg-5">
            <div class="card-body">
                <h5 class="card-title text-center">Microsoft 70-480: Programming with HTML5 with JavaScript and CSS3</h5>
                <hr />
                <p class="card-text">
                    <a href="https://dwernz.github.io/Microsoft-70-480--Programming-with-HTML5-with-JavaScript-and-CSS3/" target="_blank">
                        https://dwernz.github.io/Microsoft-70-480--Programming-with-HTML5-with-JavaScript-and-CSS3/
                    </a>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            This is a website that shows all the webpages created from KO Tech Academy's
                            Microsoft 70-480: Programming with HTML5 with JavaScript and CSS3 course.
                            Unlike the previous webpages for the KO Tech Academy course, I decided to use
                            Bootstrap for styling and make this page responsive. The main reason for this is
                            I was setting this page up in the evening after finishing the JavaScript course,
                            wanting to take a break from the courses.
                        </li>
                        <li>
                            Technologies used: HTML, CSS, Bootstrap, JavaScript
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card black-card col-lg-5">
            <div class="card-body">
                <h5 class="card-title text-center">Color Selector</h5>
                <hr />
                <p class="card-text">
                    <a href="https://dwernz.github.io/ColorSelector/" target="_blank">
                        https://dwernz.github.io/ColorSelector/
                    </a>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            While following an online course with CSS, I wanted to display all the predefined colors that CSS
                            has to offer and be able to see the colors laid out for future web design projects. My first iteration was to
                            have everything hardcoded which resulted in about 600 lines of code. Both versions featured the ability to click
                            color and it changes the background color, to better compare two colors together. The second iteration, I used
                            JavaScript to dynamically generate all the color boxes, cutting the code to less than 150 lines of code.
                            Since I didn't have to hardcode the hexcodes another time, I also included a check, each box has the word
                            "Check" but has the color set to the hexcode to check that the hexcode displayed is actually correct.
                            I would like to make a third iteration using appendChild() rather than document.write. I have seen several
                            issues with this method, which is why I would like to use the appendChild() in the future.
                        </li>
                        <li>
                            Technologies used: HTML, CSS, JavaScript
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <hr class="mt-5"/>
         <h2 class="light-text text-center mb-5 mt-3">Deprecated or Test Sites</h2>
        <div class="row justify-content-center">
            <div class="card black-card col-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">MPC Website</h5>
                    <hr />
                    <p class="card-text">
                        <a href="https://mpc.herokuapp.com" target="_blank">mpc.herokuapp.com</a>
                        <br />
                        <ul class="list-unstyled">
                            <li>
                                This website was created to host general information about
                                candidates to showcase to potential client companies the type
                                of talent that we worked with.
                            </li>
                            <li>
                                This is the improved version of my first MPC site
                                that was hosted with GitHub. Originally a single page web application,
                                the navbar and footer was fine for the static layout, but after 
                                incorporating Google Analytics to track web traffic and which 
                                profiles were viewed the most often to have a more targetted outreach,
                                the navbar and footer had to be added and changed to each individual page.
                                I used EJS to solve the issue along with Heroku's web hosting service.
                            </li>
                            <li>
                                Heroku removed their free-tier service, and this has since been taken down.
                            </li>
                            <li>
                                Technologies used: HTML, CSS, JavaScript, Embedded JavaScript,
                                Node, Express, Heroku, GitHub, Google Analytics, Bootstrap
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card black-card col-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Razor Pizzeria</h5>
                    <hr />
                    <p class="card-text">
                        <a href="https://razorpizzeria.azurewebsites.net" 
                            target="_blank" >razorpizzeria.azurewebsites.net</a>
                        <br />
                        <ul class="list-unstyled">
                            <li>
                                This website was created following the Tutorials EU's ASP.NET course. 
                                The database is only configured to a local server, so the orders page 
                                and confirm orders buttons do not work for now.
                            </li>
                            <li>
                                Technologies used: HTML, CSS, C#, .NET 6, ASP.NET, Entity, Bootstrap, SQL
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card black-card col-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Blazor App</h5>
                    <hr />
                    <p class="card-text">
                        <a href="https://danielblazor.azurewebsites.net" target="_blank">
                            danielblazer.azurewebsites.net
                            </a>
                        <br />
                        <ul class="list-unstyled">
                            <li>
                                This website was created following the Tutorials EU's ASP.NET course to 
                                learn the basics of Blazor/Razor. The pages built were the Shopping List 
                                and the Converter pages.Some of the concepts that were explored were 
                                using Databinding, Event Handling, Forms and Validations, Layouts, and 
                                CSS Isolation.
                            </li>
                            <li>
                                The website for the Fetch Data is no longer avaliable or at least
                                during testing.
                            </li>
                            <li>
                                Technologies used: HTML, CSS, C#, .NET 6, ASP.NET, Blazor, Razor
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card black-card col-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">File Upload</h5>
                    <hr />
                    <p class="card-text">
                        <a href="https://danielfileupload.azurewebsites.net/" target="_blank">
                            https://danielfileupload.azurewebsites.net/
                        </a>
                        <br />
                        <ul class="list-unstyled">
                            <li>
                                This is a basic website that allows uploading and downloading files using ASP.NET concepts.
                            </li>
                            <li>The downloads part does not work since the "server" was just a local file</li>
                            <li>
                                Technologies used: HTML, CSS, ASP.NET, .NET 6, Blazor, JavaScript Interop
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
         @*<div class="card black-card col-lg-5">
            <div class="card-body">
                <h5 class="card-title">Pizza Legends</h5>
                <hr />
                <p class="card-text">
                    <a href="https://dwernz.github.io/Pizza-Legends/" target="_blank">
                        https://dwernz.github.io/Pizza-Legends/
                    </a>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            This is a game created by following Drew Conley's Youtube video series on creating an RPG with 
                            JavaScript. I wanted to do something that aligns with game development to showcase more advanced
                            JavaScript concepts and be fun.
                        </li>
                        <li>Currently, I am still working on this, and will regularly update the code.</li>
                        <li>
                            Technologies used: HTML, CSS, JavaScript
                        </li>
                    </ul>
                </p>
            </div>
        </div>*@
    </div>
</section>