@page
@model CV.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<section class="dark-section">

    <h1 class="text-center">Recipes</h1>
    
    <div class="row justify-content-center text-center">
        <div class="col-4">
            <a class="nav-link text-light" asp-area="" asp-page="/Recipes/ChocolateChipCookies">Chocolate Chip Cookies</a>
        </div>
        <div class="col-4">
            <a class="nav-link text-light" asp-area="" asp-page="/Recipes/PeanutButter">Peanut Butter</a>
        </div>
        <div class="col-4">
            <a class="nav-link text-light" asp-area="" asp-page="/Recipes/PeanutButterCookies">Peanut Butter Cookies</a>
        </div>
    </div>
    

    <hr />

    <h3>Notes:</h3>
    <ul>
        <li>Eggs are large eggs unless otherwise stated.</li>
        <li>Butter is unsalted butter unless otherwise stated.</li>
        <li>Salt is Diamond Crystal Kosher Salt unless otherwise stated.</li>
        <li>Sugar is Granulated Sugar unless otherwise stated.</li>
        <li>Oz is weight, fl oz is volume.</li>
        <li>AP Flour is All Purpose Flour.</li>
        <li>AP Flour can be substituted for Pastry Flour.</li>
    </ul>
</section>