@page
@model CV.Pages.Recipes.AlfredoSauceModel
@{
    ViewData["Title"] = "Alfredo Sauce";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Alfredo Sauce</h1>
        <h3>Yield: 3 cups</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>4 oz Butter</li>
            <li>1 pt Heavy Cream</li>
            <li>4 oz Cream Cheese</li>
            <li>1 tsp Garlic, minced</li>
            <li>1 tsp Italian Herb Seasoning</li>
            <li>To Taste Salt</li>
            <li>To Taste White Pepper</li>
            <li>1 cup Parmesan, grated</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>In a medium saucepot, add butter, cream, and cream cheese. Cook over medium heat and whisk until melted.</li>
            <li>Add the minced garlic, Italian herb seasoning, salt, and pepper. Continue to whisk until smooth. Add parmesan cheese.</li>
            <li>Bring to a simmer and continue to cook for about 3-5 minutes or until it starts to thicken. Toss it with your favorite pasta.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>I prefer to make fresh pasta and cut it for linguine pasta.</li>
            <li>The original "cream cheese" that I used for this recipe is the cream cheese crab topping recipe.</li>
        </ul>
    </div>
</section>

