@page
@model CV.Pages.Recipes.AlmondCheeseModel
@{
    ViewData["Title"] = "Almond Cheese";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Almond Cheese</h1>
        <h3>Yield: 1 6x9in dish</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - 6x9in Baking Dish</li>
            <li>1 - Container</li>
            <li>1 - Cheesecloth or Fine Mesh Nut Bag</li>
            <li>1 - Blender</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>5.5 oz Almonds, shelled</li>
            <li>2 1/2 tbsp Lemon Juice</li>
            <li>3 tbsp Extra Virgin Olive Oil</li>
            <li>1/2 clove Garlic</li>
            <li>1 1/4 tsp Salt</li>
            <li>2/3 cup Water</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Soak almonds overnight or for 24 hours.</li>
            <li>Drain and rinse almonds.</li>
            <li>In a blender, add all ingredients, and blend until smooth.</li>
            <li>Put mixture in cheesecloth and hang over a container. Put in fridge and let drain overnight.</li>
            <li>Discard the liquid, and put the solids that remained in the bag into a baking dish. Smooth the almond mixture.</li>
            <li>Bake at 350&deg;F for 45 minutes.</li>
            <li>Serve warm or let cool. Store in an airtight container.</li>
            
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Typically, there will be a grainy texture that is not desired with a "cheese", but with crackers, the texture is disguised.</li>
            <li>Vegan friendly</li>
            <li>
                Over time, I've added other ingredients to change the flavor such as honey for sweetness, cayenne pepper for 
                spiciness. Another version was replacing the lemon juice with brandy and the garlic with apples for an 
                apple-brandy treat.
            </li>
            <li>After learning about cheesemaking and knowing that almond milk exists, I wondered if there was an almond cheese.</li>
        </ul>
    </div>
</section>


