@page
@model CV.Pages.Recipes.BreadAndButterPicklesModel
@{
    ViewData["Title"] = "Bread and Butter Pickles";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Bread and Butter Pickles</h1>
        <h3>Yield: 5 1-pt jars</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>5 - Pint Canning Jars</li>
            <li>1 - 16 qt Canning Pot</li>
            <li>1 - Jar Lifter</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>2 1/2 lb Kirby Cucumbers</li>
            <li>1 lb Yellow Onions, thinly sliced</li>
            <li>1/4 cup Salt</li>
            <li>1 1/4 cup Apple Cider Vinegar</li>
            <li>2 1/4 cup Sugar</li>
            <li>1 tbsp Mustard Seeds</li>
            <li>1 tsp Crushed Red Pepper</li>
            <li>3/4 tsp Celery Seeds</li>
            <li>1 ea Cinnamon Stick</li>
            <li>6 ea Allspice Berries</li>
            <li>6 ea Cloves</li>
            <li>1/2 tsp Tumeric, ground</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Prep the cucumbers. Carefully rinse the cucumbers. Slice cucumbers 1/4 inch thick and place in a large bowl.</li>
            <li>Toss sliced cucumbers and onions with salt and cover with ice. Chill 4 hours, rinse and drain.</li>
            <li>Sterilize jars</li>
            <li>Boil vinegar, sugar, and spices. Add the cucumners and onions and bring to a boil again. Transfer to jars.</li>
            <li>Seal properly.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                My favorite method of sealing jars is to have the oven at 250&deg;F, put the jars in the oven, bake for 10 
                minutes, turn off the over, and let cool naturally. If any jars are not sealed, redo the process. I like this 
                process, because I can do batches all at once.
            </li>
        </ul>
    </div>
</section>
