@page
@model CV.Pages.Recipes.BurgerSeasoningModel
@{
    ViewData["Title"] = "Burger Seasoning";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Burger Seasoning</h1>
        <h3>Yield: about 1 pint</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>3/4 cup Paprika</li>
            <li>5 tbsp Salt</li>
            <li>1/4 cup Black Pepper</li>
            <li>2 tbsp Brown Sugar, light</li>
            <li>2 tbsp Garlic Powder</li>
            <li>2 tbsp Onion Powder</li>
            <li>1 tbsp Cayenne Pepper</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients together and store in an airtight container.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                Pairs great with the Captain Morgan's Spiced Rum BBQ sauce for burgers.
            </li>
            <li>I like to add the seasoning while shaping the burger, and then some after cooking.</li>
        </ul>
    </div>
</section>