@page
@model CV.Pages.Recipes.CandiedWalnutsModel
@{
    ViewData["Title"] = "Candied Walnuts";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Candied Walnuts</h1>
        <h3>Yield: 340 g</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Silicone Baking Mat</li>
            <li>1 - Sheet Tray</li>
            <li>1 - Mortar and Pestle</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>340 g Walnuts, shelled</li>
            <li>1 g White Pepper</li>
            <li>1 g Cinnamon</li>
            <li>12 g Salt</li>
            <li>1 g Nutmeg</li>
            <li>0.5 g Cayenne Pepper</li>
            <li>1 ea Egg White</li>
            <li>150 g Sugar</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Preheat oven to 350&#xb0;F.</li>
            <li>Combine all of the ingredients and spread evenly on a sheet pan lined with a silicone baking mat.</li>
            <li>Bake until lightly browned.</li>
            <li>Allow to cool completely.</li>
            <li>Use the Mortar and Pestle to crush the walnuts to a smaller desired size.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>This is a good recipe for adding a candied nut to a dessert. I previously used this for a garnish for a banana aranchini dish.</li>
        </ul>
    </div>
</section>