@page
@model CV.Pages.Recipes.CaptainMorgansSpicedRumBBQSauceModel
@{
    ViewData["Title"] = "Captain Morgan's Spiced Rum BBQ Sauce";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Captain Morgan's Spiced Rum BBQ Sauce</h1>
        <h3>Yield: about 1 pint</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 1/2 cup Light Brown Sugar</li>
            <li>1/2 cup Chili Sauce</li>
            <li>1 cup Captain Morgan's Spiced Rum</li>
            <li>1/2 cup Soy Sauce</li>
            <li>1/4 cup Ketchup</li>
            <li>1/4 cup Worcestershire Sauce</li>
            <li>2 ea Garlic Clove, minced</li>
            <li>1 tsp Dry Mustard</li>
            <li>To Taste Black Pepper</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>
                Combine all ingredients in a saucepot, and heat over medium heat, stirring occassionally. Stir more 
                frequently as sauce reduces. Reduce to a sauce-like consistency.
            </li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                Pairs great with the <a id="recipe-link" asp-area="" asp-page="/Recipes/BurgerSeasoning">Burger Seasoning</a> for burgers.
            </li>
            <li>To make sure the sauce is thick enough, put a ceramic plate in the freezer for at least 15 minutes.
                Then put a little bit of the sauce on the cold plate. This should cool the sauce and it should thicken. 
                If it is too thin, keep reducing.
            </li>
        </ul>
    </div>
</section>
