@page
@model CV.Pages.Recipes.CherryApricotMostardaModel
@{
    ViewData["Title"] = "Cherry-Apricot Mostarda";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Cherry-Apricot Mostarda</h1>
        <h3>Yield: about 1 cup</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1/4 lb Dried Apricots, cut to 1/4 inch pieces</li>
            <li>1/4 cup Dried Cherries, coarsely chopped</li>
            <li>1 ea Shallot, minced</li>
            <li>1 1/2 tsp Crystalized Ginger, minced</li>
            <li>1/2 cup Dry White Wine</li>
            <li>3 tbsp White Wine Vinegar</li>
            <li>3 tbsp Water</li>
            <li>3 tbsp Sugar</li>
            <li>1 tsp Dry Mustard</li>
            <li>1 tsp Dijon Mustard</li>
            <li>1 tbsp Butter</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine apricots, cherries, shallot, giner, wine, vinegar, water, and sugar and bring to a boil. Cover to cook until liquid is absorbed. Approcimately 10 minutes.</li>
            <li>Stir in mustards and butter, simmer until jam-like. Approximately 2-3 minutes.</li>
            <li>Serve warm or room temp.</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>For additional flavoring, add rosemary, lemon juice, orange zest, and whole grain mustard.</li>
        </ul>
    </div>
</section>