@page
@model CV.Pages.Recipes.CinnamonFigButterModel
@{
    ViewData["Title"] = "Cinnamon Fig Compound Butter";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Cinnamon Fig Compound Butter</h1>
        <h3>Yield: 1 lb</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Parchment Paper</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb Butter, room temp</li>
            <li>6 ea Preserved Figs, minced</li>
            <li>4 tsp Honey</li>
            <li>1/2 tsp Cinnamon</li>
            <li>Pinch of Salt</li>
            <li>1/4 tsp Cinnamon, ground</li>
            <li>1 ea Star Anise, ground</li>
            <li>1 tsp vanilla paste</li>
            <li>3 ea Cloves, ground</li>
            <li>6 ea Allspice Berries, ground</li>
            <li>3 ea Cardamon Pods, ground</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients together</li>
            <li>Place mixture into the center of the parchment, and roll into a 1 inch thick log.</li>
            <li>Refrigerate</li>
            <li>Slice as needed</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Add plastic wrap around the parchment for better storage.</li>
            <li>Up to the Pinch of Salt is the original recipe, the ingredients that follow are changes I made.</li>
            <li>I like to grind my own spices, they keep longer as whole spices, and take up less space than having whole and ground for each spice.</li>
            <li>Vanilla Paste is not to be confused with Vanilla Extract.</li>
            <li>Star Anise has a Licorice flavor to it, from my experience, you either LOVE or HATE licorice, so add or omit accordingly.</li>
        </ul>
    </div>
</section>
