@page
@model CV.Pages.Recipes.CrayfishButterModel
@{
    ViewData["Title"] = "Crayfish Compound Butter";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Crayfish Compound Butter</h1>
        <h3>Yield: 2 lbs</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Parchment Paper</li>
            <li>1 - Tamis</li>
            <li>1 - Food Processor or Spice Grinder</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb Butter, room temp</li>
            <li>1 ln Crayfish Shells</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Finely ground crayfish shells.</li>
            <li>Mix equal parts butter and crayfish shell powder.</li>
            <li>Pass through a Tamis or fine mesh strainer.</li>
            <li>Place mixture into the center of the parchment, and roll into a 1 inch thick log.</li>
            <li>Refrigerate</li>
            <li>Slice as needed</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Add plastic wrap around the parchment for better storage.</li>
        </ul>
    </div>
</section>

