@page
@model CV.Pages.Recipes.EelSauceModel
@{
    ViewData["Title"] = "Tentsuyu / Eel Sauce";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Tentsuyu / Eel Sauce</h1>
        <h3>Yield: 4 lb</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 cup Dashi</li>
            <li>1/4 cup Mirin</li>
            <li>1/4 cup Soy Sauce</li>
            <li>1/2 tbsp Sugar</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine all ingredients into a medium saucepot and reduce to desired consistency.</li>

        </ol>
    </div>
</section>

