@page
@model CV.Pages.Recipes.French75MocktailModel
@{
    ViewData["Title"] = "French 75 Mocktail";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">French 75 Mocktail</h1>
        <h3>Yield: 30 drinks</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bain Marie</li>
            <li>1 - Rubber Spatula</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>5 1/2 cups Lemon Juice</li>
            <li>7 1/2 tsp Orange Bitters</li>
            <li>3 qt Sparkling Water</li>
            <li>30 ea Rock Candy Swizzle Sticks</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix lemon juice and butters.</li>
            <li>For service, mix in sparkling water.</li>
            <li>Pour into each glass, and garnish with a swizzle stick.</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Let the swizzle stick dissolve into the drink for a bit to sweeten it.</li>
            <li>For more immediate, add some simple syrup.</li>
        </ul>
    </div>
</section>
