@page
@model CV.Pages.Recipes.FruitPunchModel
@{
    ViewData["Title"] = "Fruit Punch";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Fruit Punch</h1>
        <h3>Yield: about 3 gallons</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Large Container</li>
            <li>1 - Large Whisk</li>
            <li>1 - Blender</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 gal Orange Juice</li>
            <li>1 gal Lemonade</li>
            <li>2 qt Pineapple Juice</li>
            <li>1 qt Sprite</li>
            <li>1 qt Strawberry Puree</li>
            <li>2 cup Maraschino Cherries, pureed</li>
            <li>1/2 to 1 cup of Grenadine</li>
            <li>To Taste Honey</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients and stir.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                Created while in Garde Manger at The Greenbrier, and still use at parties.
            </li>
        </ul>
    </div>
</section>

