@page
@model CV.Pages.Recipes.FruitLeatherModel
@{
    ViewData["Title"] = "Fruit Leather";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Fruit Leather</h1>
        <h3>Yield: 1 Quart Jar</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Dehyrdate or Oven</li>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
            <li>1 - Food Processor</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 1/4 lb Chopped Fruit</li>
            <li>3/4 cup Sugar</li>
            <li>1-2 tbsp Lemon Juice</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Puree ingredients in a blender until smooth</li>
            <li>In a saucepot over medium-high heat, bring puree to a simmer.</li>
            <li>Reduce heat to medium-low, stirring constantly until puree is very thick. 35-45 minutes.</li>
            <li>Spread mixture evenly and dehydrate.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>The result is pretty much a more natural fruit roll up.</li>
            <li>Pear was a common fruit I used for this.</li>
            <li>Apple-pear recipe uses 1 cup Sugar, 1/4 cup Lemon Juice, 4 cups Apples, and 4 cups Pears.</li>
        </ul>
    </div>
</section>