@page
@model CV.Pages.Recipes.GeneralTsosChickenModel
@{
    ViewData["Title"] = "General Tso's Chicken";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">General Tso's Chicken</h1>
        <h3>Yield: 4 servings</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Deep Fryer</li>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Cup</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb Chicken Thighs, cut into 1-inch chucks</li>
            <li>1/4 cup Cornstarch</li>
            <li>1/4 cup Flour</li>
            <li>As Needed, Oil, for frying</li>
            <li>1 tbsp Ginger, fresh and minced</li>
            <li>1/4 tsp Red Chili Flakes</li>
            <li>2 ea Garlic Cloves, minced</li>
            <li>3 tbsp Rice Vinegar</li>
            <li>3 tbsp Soy Sauce</li>
            <li>2 tsp Hoisin Sauce</li>
            <li>1/4 cup Water</li>
            <li>3 tbsp Sugar</li>
            <li>1 tbsp Cornstarch</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>In saucepan, add a little bit of oil, and add the chili flakes, ginger, and garlic and cook until fragrant.</li>
            <li>Add rice vinegar, soy sauce, hoisin suace, and sugar.</li>
            <li>Combine water and cornstarch, and add to the sauce.</li>
            <li>Whisk and cook until sauce has thickened.</li>
            <li>Combine 1/4 cup cornstarch and flour. Coat chicken and shake off excess.</li>
            <li>Deepfry chicken until chicken registers an internal temperature of 165 &deg;F.</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>This was one of my more popular items while I worked at The Greenbrier's Employee Cafe.</li>
            <li>For more or less spice, change the amount of Red Chili Flakes as desired.</li>
            <li>The chili flakes should be added with the oil to bring out the flavor.</li>
        </ul>
    </div>
</section>
