@page
@model CV.Pages.Recipes.HerbCitrusTurkeyBrineModel
@{
    ViewData["Title"] = "Herb-Citrus Turkey Brine";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Herb-Citrus Turkey Brine</h1>
        <h3>Yield: 2 gal</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Large Container</li>
            <li>1 - Cutting Board</li>
            <li>1 - Chef's Knife'</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 cup Salt oz Butter, softened</li>
            <li>1 cup Sugar, light brown</li>
            <li>2 gal Water</li>
            <li>zest of 2 oranges</li>
            <li>zest of 2 lemons</li>
            <li>6 sprigs Thyme</li>
            <li>4 sprigs Rosemary</li>
            <li>1 stalk Celery, cut into 1/2 inch dice</li>
            <li>1 ea Carrot, peeled and cut into 1/2 inch dice</li>
            <li>1 ea Onion, peeled and cut into 1/2 inch dice</li>
            <li>2 ea Bay Leaves</li>
            <li>1/2 bunch Sage</li>
            <li>4 sprigs Parsley</li>
            <li>1 ea 10lb Turkey</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine all ingredients except the turkey, and mix with the whisk until salt and sugar are dissolved.</li>
            <li>Add the turkey and refrigerate for at least 24 hours.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                This is a recipe I created during my Le Cordon Bleu days, and was popular in the buffet class, and during the 
                holidays.
            </li>
            <li>I use the vegetables and herbs as a stand for the turkey during roasting.</li>
        </ul>
    </div>
</section>