@page
@model CV.Pages.Recipes.ItalianHerbBlendModel
@{
    ViewData["Title"] = "Italian Herb Blend";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Italian Herb Blend</h1>
        <h3>Yield: 14 tsp</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>4 tsp Basil, dried</li>
            <li>3 tsp Thyme, dried</li>
            <li>2 tsp Majoram, dried and rubbed</li>
            <li>2 tsp Oregano, dried and rubbed</li>
            <li>1 tsp Sage, dried and rubbed</li>
            <li>1 tsp Garlic flakes, dried</li>
            <li>1 tsp Rosemary, dried</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine all ingredients and mix until well combined.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Store up to 1 year in an airtight container.</li>
            <li>I frequently use this with my Alfredo Sauce recipe.</li>
        </ul>
    </div>
</section>
