@page
@model CV.Pages.Recipes.ItalianButtercreamModel
@{
    ViewData["Title"] = "Italian Buttercream";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Italian Buttercream</h1>
        <h3>Yield: 850g</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Standmixer</li>
            <li>1 - Whisk Attachment</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>
                Italian Meringue
                <ul>
                    <li>250 g Sugar</li>
                    <li>60 mL Water</li>
                    <li>125 g Eggs, whites</li>
                </ul>
            </li>
            <li>375 g Butter, softened</li>
            <li>60 mL Emulsified Shortening (or additional butter)</li>
            <li>2 mL Lemon Juice</li>
            <li>4 mL Vanilla Extract</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>
                Heat the sugar and water in a saucepan until the sugar mixture dissolves and the mixture boils. Boil until a 
                candy thermometer placed in the syrup registers 243&deg;F or 117&deg;C.
            </li>
            <li>While the syrup is cooking, beat the egg whites in a mixer until they form soft peaks.</li>
            <li>With the machine running, very slowly beat in the hot syrup.</li>
            <li>Whip until completely cool and forms stiff peaks.</li>
            <li>
                Little by little, add the soft butter butter and continue to whip. Add each piece after the previous one has 
                been incorporated. In the same way, whip in the shortening.
            </li>
            <li>When all the fat has been incorporated, whip in the lemon juice and vanilla.</li>
            <li>Continue to whip until the buttercream is smooth.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                While there are plenty other buttercreams, I prefer the Italian Buttercream.
            </li>
            <li>This recipe uses the egg whites, so save the egg yolks for other recipes.</li>
            <li>I like to use this with the Vanilla Genoise Cake recipe.</li>
        </ul>
    </div>
</section>
