@page
@model CV.Pages.Recipes.MarylandCrabcakeMixModel
@{
    ViewData["Title"] = "Maryland Crabcake Mix";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Maryland Crabcake Mix</h1>
        <h3>Yield: About 1 Gal</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 gal Mayo</li>
            <li>1 tbsp Black Pepper</li>
            <li>1/2 cup Old Bay</li>
            <li>12 oz Spicy Brown Mustard</li>
            <li>1/4 cup Worcestershire Sauce</li>
            <li>6 ea Egg Yolks</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine all ingredients and mix until well combined.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Crabcakes, mix 1 qt of mix with 5 lbs of lump meat, 1 lb jumbo lump meat, 1 lb claw meat, and 1 pt of breadcrumbs/crackermeal.</li>
        </ul>
    </div>
</section>
