@page
@model CV.Pages.Recipes.NewEnglandClamChowderModel
@{
    ViewData["Title"] = "Candied Walnuts";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">New England Clam Chowder</h1>
        <h3>Yield: 1/2 Gal</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Cutting Boad</li>
            <li>1 - Knife</li>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>2 ea Celery Sticks, peeled and brunoise</li>
            <li>1 ea Onion, peeled and brunoise</li>
            <li>2 ea Potato, peeled and brunoise</li>
            <li>8 oz Bacon, cut small</li>
            <li>Butter, as needed</li>
            <li>4 tbsp Flour</li>
            <li>4 cup Clam Juice</li>
            <li>16 oz Clams, diced small</li>
            <li>Parsley, fresh and minced, as needed</li>
            <li>4 oz Heavy Cream</li>
            <li>3 cups Milk</li>
            <li>Salt and Pepper to Taste</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Render Bacon, if needed, add butter. Do not brown.</li>
            <li>When fat is foamy, add celery and onion. Sweat.</li>
            <li>Add flour and make blond roux.</li>
            <li>Add clam juice a bit at a time, stirring until uniform.</li>
            <li>Add potatoes and cook until tender.</li>
            <li>Add milk and reduce heat. Add clams and cream.</li>
            <li>Adjust seasonings, and garnish with parsley.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>I tend to make more roux than needed at times, it is easier to add more milk, cream, or clam juice to thin the soup out.</li>
            <li>Canned clams will have some clam juice that you can use, so you do not need to buy as much clam juice.</li>
            <li>3 6-oz cans of minced clams contain about 1 cup of clam juice.</li>
        </ul>
    </div>
</section>
