@page
@model CV.Pages.Recipes.OnionMarmaladeModel
@{
    ViewData["Title"] = "Onion Marmalade";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Onion Marmalade</h1>
        <h3>Yield: 12 servings</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>6 tbsp Olive Oil</li>
            <li>4 ea Onions, sliced thinly</li>
            <li>3 tbsp Brown Sugar</li>
            <li>1 tbsp Grenadine</li>
            <li>3.5 fl oz White Wine</li>
            <li>To Taste Salt</li>
            <li>To Taste Black Pepper</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Heat oil in pan.</li>
            <li>Add onions and carmelize</li>
            <li>Stir in brown sugar and grenadine. Melt the sugar.</li>
            <li>Stir in white wine and reduce to syrup consistency.</li>
            <li>Cool and season with salt and pepper.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                This was one of the recipes I learnt from Le Cordon Bleu. Traditionally served as a side dish for 
                terrines, I like to use this for burgers.
            </li>
        </ul>
    </div>
</section>
