@page
@model CV.Pages.Recipes.OrangeMaplePecanButterModel
@{
    ViewData["Title"] = "Orange Maple Pecan Compound Butter";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Orange Maple Pecan Compound Butter</h1>
        <h3>Yield: 1 lb</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Parchment Paper</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb Butter, room temp</li>
            <li>2 tbsp Orange Juice, freshly squeezed</li>
            <li>2 tsp Orange Zest</li>
            <li>2 tbsp Maple Syrup</li>
            <li>4 tbsp Pecans, toasted and chopped</li>
            <li>1/4 tsp Salt</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients together</li>
            <li>Place mixture into the center of the parchment, and roll into a 1 inch thick log.</li>
            <li>Refrigerate</li>
            <li>Slice as needed</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Add plastic wrap around the parchment for better storage.</li>
            <li>Zest the orange first, then juice the orange.</li>
        </ul>
    </div>
</section>