@page
@model CV.Pages.Recipes.PastramiBrineModel
@{
    ViewData["Title"] = "Pastrami Brine";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Pastrami Brine</h1>
        <h3>Yield: about 1 liter</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Whisk</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 liter Water</li>
            <li>100g Sugar</li>
            <li>95g Salt</li>
            <li>6.5g Pink Salt (curing salt, not Himilayan Pink)</li>
            <li>4g Garlic, thinly sliced</li>
            <li>3g Black Peppercorns, whole</li>
            <li>1.5g Coriander Seeds</li>
            <li>1.2g Mustard Seeds</li>
            <li>1.2g Juniper Berries</li>
            <li>1.2g Ginger, ground</li>
            <li>0.5g Cloves, whole</li>
            <li>1 ea Bay Leaf</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Bring water to a boil in a saucepot.</li>
            <li>Take off the heat, and add the remaining ingredients, stirring constantly until the sugar and
                salt have dissolved.
            </li>
            <li>Let cool to room temperature.</li>
            <li>Refrigerate until cold. The brine must be cold before using.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                Brining time varies between the protein as well as the amount.
            </li>
        </ul>
    </div>
</section>
