@page
@model CV.Pages.Recipes.PickledCurryMangoesModel
@{
    ViewData["Title"] = "Pickled Curry Mangoes";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Pickled Curry Mangoes</h1>
        <h3>Yield: 1 Quart Jar</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Quart Jar</li>
            <li>1 - Saucepot</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>4 oz Rice Vinegar</li>
            <li>4 oz Water</li>
            <li>1/2 cup Sugar</li>
            <li>1 tsp Salt</li>
            <li>1 tsp Cumin, ground</li>
            <li>1 tsp Cardamom, ground</li>
            <li>1 tsp Curry Powder</li>
            <li>1/2 tsp Crushed Red Pepper</li>
            <li>2 ea Mangoes, peeled and thinly sliced</li>
            <li>1/2 ea Onion, peeled and thinly sliced</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Place mango and onion in the pickling container</li>
            <li>Combine remaining ingredients in a saucepot, bring to a boil.</li>
            <li>Reduce heat to a simmer and simmer until sugar is dissolved.</li>
            <li>Pour the pickling liquid into the container with mangoes and onions.</li>
            <li>Use your preferred sealing method.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                I prefer to place the jar in a 250 &deg;F oven for 10 minutes, turn off the oven, and let cool.
                If the jar is not sealed properly, I redo the process.
            </li>
            <li>While in culinary school, during the pickling and preserving lessons, the instructor asked to use this recipe.</li>
            <li>At the Greenbrier, this was used for a component of one of the dishes.</li>
            <li>This is my most popular pickling recipe.</li>
        </ul>
    </div>
</section>
