@page
@model CV.Pages.Recipes.PickledFennelModel
@{
    ViewData["Title"] = "Pickled Fennel";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Pickled Fennel</h1>
        <h3>Yield: 1 Quart Jar</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Quart Jar</li>
            <li>1 - Saucepot</li>
            <li>1 - Mandoline</li>
            <li>1 - Chinois</li>
            <li>1 - Chef's Knife</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>3/4 cup Tarragon Vinegar</li>
            <li>3/8 cup Water</li>
            <li>2 1/2 tbsp Sugar</li>
            <li>1 tbsp Salt</li>
            <li>1/2 tsp Fennel Seeds</li>
            <li>1 tsp Red Pepper Flaked</li>
            <li>1 ea Bay Leaf</li>
            <li>1 ea Star Anise Pod</li>
            <li>1 ea 1-inch Lemon Peel</li>
            <li>1 tbsp Tarragon, fresh and minced</li>
            <li>1 ea Fennel Bulb, thinly sliced</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Place Fennel and Tarragon in the pickling container</li>
            <li>Combine remaining ingredients in a saucepot, bring to a boil.</li>
            <li>Reduce heat to a simmer and simmer until sugar is dissolved.</li>
            <li>Pour the pickling liquid into the container with mangoes and onions.</li>
            <li>Use your preferred sealing method.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Be ready careful with Mandolines, they're the reason for a lot of kitchen injuries.</li>
            <li>
                Tarragon, Fennel, and Star Anise all have a black licorice flavor. It is a favor that you love or 
                hate. Consume at your own personal tastes.
            </li>
            <li>Created this for a culinary exam to go with Salmon.</li>
            <li>Tarragon bruises extremely easily. Use a super sharp knife, and gently cut.</li>
        </ul>
    </div>
</section>