@page
@model CV.Pages.Recipes.TacoSeasoningModel
@{
    ViewData["Title"] = "Taco Seasoning";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Taco Seasoning</h1>
        <h3>Yield: about 1 cup</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 tbsp Garlic Powder</li>
            <li>1 tbsp Onion Powder</li>
            <li>1 tbsp Crushed Red Pepper</li>
            <li>1 tbsp Oregano, dried</li>
            <li>2 tbsp Paprika</li>
            <li>6 tbsp Cumin, ground</li>
            <li>4 tbsp Salt</li>
            <li>4 tbsp Black Pepper</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Combine all ingredients and mix.</li>
            <li>Store in an airtight container</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                Typically about 2 tbsp for 1 pound of protein, but season to taste. Start with a smaller amount, and taste. 
                Add more as necessary.
            </li>
        </ul>
    </div>
</section>