@page
@model CV.Pages.Recipes.ThaiFlavorDuckBrineModel
@{
    ViewData["Title"] = "Thai Flavors Duck Brine";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Thai Flavors Duck Brine</h1>
        <h3>Yield: about 1 liter</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - China Cap</li>
            <li>1 - Container</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>20g Thai Chili Peppers</li>
            <li>475g Pineapple Juice</li>
            <li>20g Lemongrass</li>
            <li>25g Ginger</li>
            <li>13g Cinnamon</li>
            <li>180g Brown Sugar</li>
            <li>125g Kosher Salt</li>
            <li>1000g Water</li>
            <li>2 ea Star Anise</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients into a saucepot. Bring to a boil.</li>
            <li>Remove from heat, and let stand for 2 hours to let the flavors steep and infuse.</li>
            <li>Strain</li>
            <li>Brine duck breasts for 4-5 hours.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                This recipe is based off on one of Alinea's recipes, with minor changes.
            </li>
            <li>I used this recipe for my National Student Chef of the Year competition.</li>
        </ul>
    </div>
</section>

