@page
@model CV.Pages.Recipes.ToastedMarshmallowIceCreamModel
@{
    ViewData["Title"] = "Toasted Marshmallow Ice Cream";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Toasted Marshmallow Ice Cream</h1>
        <h3>Yield: 2 quarts</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>3 - Bowls</li>
            <li>1 - Saucepot</li>
            <li>1 - Rubber Spatula</li>
            <li>1 - Whisk</li>
            <li>1 - Ice Cream Machine</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>7 oz Mini Marshmallows</li>
            <li>1 qt Half and Half</li>
            <li>4 ea Egg Yolks</li>
            <li>1/2 cup Sugar</li>
            <li>1 tsp Vanilla Extract</li>
            <li>1/4 cup Hot Fudge (optional)</li>
            <li>1/4 cup Graham Cracker Crumbs (optional)</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Line a baking sheet, and arrange the marshmallows in a single layer</li>
            <li>Toast under a broiler (less than a minute)</li>
            <li>Heat the half and half over medium heat until it reaches a simmer</li>
            <li>Stir in the vanilla</li>
            <li>Whisk together the eggs and sugar</li>
            <li>Temper the half and half with the eggs, pour back into the saucepan</li>
            <li>Cook until the custard has thickened</li>
            <li>Remove from the heat and whisk in the toasted marshmallows</li>
            <li>Cool down in an ice bath</li>
            <li>Freeze custard in an ice cream machine</li>
            <li>Mix in fudge and graham cracker crumbs if desired</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                The broiler will toast the marshmallows quickly, so keep an eye on them.
            </li>
        </ul>
    </div>
</section>