@page
@model CV.Pages.Recipes.VanillaGenoiseCakeModel
@{
    ViewData["Title"] = "Vanilla Genoise Cake";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Vanilla Genoise Cake</h1>
        <h3>Yield: 2 8-inch cakes</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Sifter</li>
            <li>1 - Deli Cup Container</li>
            <li>2 - 8-inch Cake Pans</li>
            <li>2 - Parchment Paper</li>
            <li>1 - Mixer</li>
            <li>1 - Whisk Attachment</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb 2 oz Egg, whole</li>
            <li>12 oz Sugar</li>
            <li>12 oz Cake Flour</li>
            <li>4 oz Butter, melted</li>
            <li>1/4 oz Vanilla Extract</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Whisk eggs and sugar over double boiler until sugar is melted and mixture reaches 120 degrees.</li>
            <li>Whisk in mixer until mixture has cooled and reached ribbon stage.</li>
            <li>Sift cake flour and fold into mixture in 3-4 small batches.</li>
            <li>Mix small scoop of batter with butter, then fold into main batch.</li>
            <li>Pour into greased parchment paper lined 8-inch cake pans.</li>
            <li>Bake 25-35 minutes, or until tester inserted into the center comes out clean.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                My preferred buttercream is the Italian Buttercream. I make a simple syrup, trim the cakes, dab with the 
                simple syrup, and cover with buttercream.
            </li>
        </ul>
    </div>
</section>