@page
@model CV.Pages.Recipes.VanillaIceCreamModel
@{
    ViewData["Title"] = "Vanilla Ice Cream";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Vanilla Ice Cream</h1>
        <h3>Yield: 1 qt</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Saucepot</li>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Ice Bath</li>
            <li>1 - Ice Cream Machine</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>16 oz Milk</li>
            <li>1 ea Vanilla Bean, split and scrapped</li>
            <li>4 oz Egg Yolks</li>
            <li>6 oz Sugar, divided 3 oz and 3 oz</li>
            <li>8 oz Heavy Cream</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Scald milk with 1/2 sugar and vanilla bean and seeds</li>
            <li>In a separated bowl, whisk egg yolks and sugar</li>
            <li>Temper egg yolks and milk.</li>
            <li>Return to heat and heat to 180&deg;F</li>
            <li>Cool over ice bath</li>
            <li>Remove vanilla bean</li>
            <li>Add cream</li>
            <li>Freeze according to ice cream machine instructions.</li>
        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>
                This is a good basic ice cream recipe that can be changed by adding different flavorings.
            </li>
            <li>
                If you do not freeze the base, it is just Creme Anglais, and a great sauce for desserts such as a souffle.
            </li>
        </ul>
    </div>
</section>