@page
@model CV.Pages.Recipes.VanillaButterModel
@{
    ViewData["Title"] = "Vanilla Compound Butter";
}

<section class="dark-section">
    <a class="nav-link text-light" id="recipe-link" asp-area="" asp-page="/Recipes">Back to Recipes</a>
    <div class="recipe">
        <h1 class="text-center">Vanilla Compound Butter</h1>
        <h3>Yield: 1 lb</h3>
        <h2>Equipment:</h2>
        <ul>
            <li>1 - Bowl</li>
            <li>1 - Whisk</li>
            <li>1 - Parchment Paper</li>
        </ul>
        <h2>Ingredients:</h2>
        <ul>
            <li>1 lb Butter, room temp</li>
            <li>1 ea Vanilla Bean, split and seeds scrapped, save the pod for another use.</li>
            <li>4 tsp Salt</li>
            <li>1 tsp Black Pepper</li>
            <li>1 tsp Coriander</li>
        </ul>
        <h2>Instructions:</h2>
        <ol>
            <li>Mix all ingredients together</li>
            <li>Place mixture into the center of the parchment, and roll into a 1 inch thick log.</li>
            <li>Refrigerate</li>
            <li>Slice as needed</li>

        </ol>
        <h2>Notes:</h2>
        <ul>
            <li>Add plastic wrap around the parchment for better storage.</li>
            <li>A great use for the pod is to add it to some sugar and let it infuse for a nice vanilla sugar.</li>
        </ul>
    </div>
</section>
